footer.page-footer
  nav.page-footer__nav
    .container
      ul.page-footer__nav-list
        li.page-footer__nav-item
          a(href="/") Для продавцов
          ul.page-footer__nav-list-lvl2
            li.page-footer__nav-item: a(href="/") Справочник продавца
            li.page-footer__nav-item: a(href="/") Открытьмагазин
            li.page-footer__nav-item: a(href="/") Клубны карты (тарифы)
        li.page-footer__nav-item
          a(href="/") Для покупателей
          ul.page-footer__nav-list-lvl2
            li.page-footer__nav-item: a(href="/") Как купить
            li.page-footer__nav-item: a(href="/") Как получить
            li.page-footer__nav-item: a(href="/") Скидки и акции
            li.page-footer__nav-item: a(href="/") Правила покупателя
            li.page-footer__nav-item: a(href="/") Интересные статьи
            li.page-footer__nav-item: a(href="/") Стол заказов
            li.page-footer__nav-item: a(href="/") Вопрос-ответ
        li.page-footer__nav-item
          a(href="/") Каталог товаров
          ul.page-footer__nav-list-lvl2
            li.page-footer__nav-item: a(href="/") Живопись
            li.page-footer__nav-item: a(href="/") Художественная фотография
            li.page-footer__nav-item: a(href="/") Одежда
            li.page-footer__nav-item: a(href="/") Обувь
            li.page-footer__nav-item: a(href="/") Украшения
            li.page-footer__nav-item: a(href="/") Для домашнего ухода
            li.page-footer__nav-item: a(href="/") Игрушки
            li.page-footer__nav-item: a(href="/") Подарки и сувениры
            li.page-footer__nav-item: a(href="/") Аксессуары
            li.page-footer__nav-item: a(href="/") Все для свадьбы
            li.page-footer__nav-item: a(href="/") Для детей
            li.page-footer__nav-item: a(href="/") Музыкальные инструменты
            li.page-footer__nav-item: a(href="/") Концелярские товары
        li.page-footer__nav-item
          a(href="/") О нас
          ul.page-footer__nav-list-lvl2            
            li.page-footer__nav-item: a(href="/") О нас
            li.page-footer__nav-item: a(href="/") Нашие приемущества
            li.page-footer__nav-item: a(href="/") Отзывы о нас
            li.page-footer__nav-item: a(href="/") Новости
            li.page-footer__nav-item: a(href="/") Реклама на проекте
            li.page-footer__nav-item: a(href="/") Контакты
  .page-footer__body
    .container
      .currency
        select(name="currency")
          option(value="1") Рубли РФ
          option(value="2") Доллары США
      .social
        a.social__btn(href=""): i.icon.icon-blogger
        a.social__btn(href=""): i.icon.icon-facebook
        a.social__btn(href=""): i.icon.icon-gplus
        a.social__btn(href=""): i.icon.icon-instagram
        a.social__btn(href=""): i.icon.icon-odnoklassniki
        a.social__btn(href=""): i.icon.icon-pinterest
        a.social__btn(href=""): i.icon.icon-twitter
        a.social__btn(href=""): i.icon.icon-vk
        a.social__btn(href=""): i.icon.icon-youtube
      a.btn.btn--to-top(href="") Наверх
        i.icon.icon-user
  .page-footer__bottom
    .container
      .page-footer__copyright-wrap
        .page-footer__copyright
          p 2017 “TerraHand” office@terrahand.ru
          p Все права защищены, охраняются законодательством РФ и зарубежных стран. 
        .page-footer__copyright   
          p 2017 SAVsolution
          p Все права защищены. Изготовление сайтов и интернет-магазинов.
      .page-footer__privacy
        a(href="/") Правила пользования сайтом и прочая правовая информация.

